@import url('RootColor.css');

@import url('material-dashboard-css4u-button-standard.css');

/*CUSTOM template */
.dxgvPopupEditForm_Office365 {
    overflow: initial !important;
}

.adaptiveHiddenCaption {
    display: none !important
}

.CheckboxTitle {
    font-size: 14px !important;
}

@media screen and (min-width: 880px) {
    .hidden-large {
        display: none !important;
        width: 0px !important;
    }
}

/*questo css serve per non far apparire label barra di scorrimento laterale in fondo nel menù*/
.perfect-scrollbar-off .sidebar .sidebar-wrapper, .perfect-scrollbar-off .main-panel {
    overflow: hidden;
}

.myEditForm {
    z-index: 17000 !important;
}

.HideColumn {
    display: none !important;
}

.alert.alert-with-icon {
    z-index: 99999999 !important;
    width: 500px !important;
}

.PhotoHeader {
    width: 40px;
    height: 40px;
    overflow: hidden;
    float: left;
    z-index: 5;
    margin-right: 11px;
    border-radius: 20%;
    background-color: white;
    /*margin-left: 23px;*/
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.auto-style1 {
    width: 176px;
    height: 38px;
}

.swal2-container {
    z-index: 9999999999;
}

.LabelClass {
    padding: 4px;
    border-radius: 7px;
}

.imagelightbox-arrow {
    width: 3.75em !important;
    height: 3.75em !important;
}

.hideHeader {
    display: none !important;
}

@media screen and (max-width: 880px) {
    .hidden-small {
        display: none !important;
    }

    /*.dxgvADCC {
                display: none !important;
            }*/
}

@media screen and (min-width: 880px) {
    .hidden-large {
        display: none !important;
        width: 3px !important;
    }
    /*.dxgvADCC {
                 display: none !important;
            }*/
}

@media only screen and (max-width: 530px) {
    .navbar {
        height: 45px !important;
    }
}

@media only screen and (max-width: 530px) {
    .navbar .navbar-inner .navbar-container {
        padding-left: 0;
        height: 45px;
    }
}

@media only screen and (max-width: 530px) {
    .navbar-fixed-top + .main-container {
        margin-top: 45px !important;
    }
}

@media only screen and (max-width: 530px) {
    .navbar .navbar-inner .navbar-header .navbar-account .account-area {
        padding-left: 10px;
        top: 0px !important;
    }
}

.dx-fab-position-container.dx-fab-js-position {
    position: fixed;
}

.dxgvSearchPanel_Office365 .dxeButtonEdit_Office365 td.dxic {
    padding: 0px 0px 0px 10px !important;
}

.dxgvSearchPanel_Office365 {
    padding: 0;
    padding-bottom: 6px;
}

.dx-fab-position-container.dx-fab-js-position {
    z-index: 9999 !important;
}

#imagelightbox {
    -ms-touch-action: none;
    touch-action: none;
    cursor: pointer;
    position: fixed;
    z-index: 10000;
    -ms-touch-action: none;
    touch-action: none;
    -webkit-box-shadow: 0 0 3.125em rgba( 0, 0, 0, .75 );
    box-shadow: 0 0 3.125em rgba( 0, 0, 0, .75 );
}

.GreyPerModal {
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.customFAB .dx-fab-main-button {
    background-color: #c8b452 !important;
}


.btn.btn-just-icon, .navbar .navbar-nav > li > a.btn.btn-just-icon {
    padding: 10px 11px;
}

.navbar .navbar-minimize {
    padding: 0px 0 0 15px;
}

.main-panel > .content {
    margin-top: 47px;
}

footer {
    padding: 2px 8px;
}

@media only screen and (max-width:1199px) {
    .navbar .navbar-brand {
        height: 50px;
        padding: 0px 15px;
    }

    .navbar .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}


.navbar .navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0;
}


/*FINE CUSTROM template*/
/*Correzioni CUSTROM template 2022*/
.main-panel > .content {
    margin-top: 0 !important;
    /* padding: 30px 15px; */
    min-height: calc(100vh - 123px);
}
.btn.btn-round, .navbar .navbar-nav > li > a.btn.btn-round {
    border-radius: 5px;
}
/*FINE Correzioni CUSTROM template 2022*/

.checkbox input[type=checkbox][disabled] ~ .checkbox-material .check {
    border-color: #000000;
    opacity: inherit;
}

.checkbox label {
    color: black !important;
}

.dxbs-cbl > div > .column-element > div {
    overflow: inherit !important; /*corregge problema effetto cerchio sulle ChkBox*/
}

.sidebar .logo {
    padding: 0px 0px;
    padding-bottom: 5px;
}

.card .card-image {
    padding-right: 2px;
    padding-bottom: 2px;
}
/*devexpress*/

.dxeBase_Office365 , .dxgvControl_Office365, .dxgvDisabled_Office365 {
    
    color: #000;
}

.OptionsTable {
    margin-bottom: 5px;
}
/* ASPxImagreSlider styles */
.dxisControl .dxis-nbItem {
    width: 130px;
    height: 150px;
    background-color: transparent;
}

    .dxisControl .dxis-nbSelectedItem,
    .dxisControl .dxis-nbSelectedItem > div,
    .dxisControl .dxis-nbItem .dxis-nbHoverItem {
        display: none !important; /* Hide Selection Frame */
    }
/* Template styles */
.url {
    display: block;
    color: #bb0000;
    line-height: 1.2;
    padding: 20px 25px 25px 25px;
    text-align: center;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 129px;
    height: 120px;
}

    .url:hover {
        color: #dd0000;
        border: 1px solid #dddddd;
        background-color: #f8f8f8;
    }

.immagineSelezionata {
    display: block;
    color: #bb0000;
    line-height: 1.2;
    padding: 20px 25px 25px 25px;
    text-align: center;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 129px;
    height: 120px;
    background-color: rgba(157, 112, 198, 0.51);
}

    .immagineSelezionata:hover {
        color: #dd0000;
        border: 1px solid #dddddd;
        background-color: rgba(157, 112, 198, 0.70);
    }


/* evita lo zoom in fase di inserimento dati*/
@media only screen and (max-width: 800px) {
    /*Serve per evitare blockquote zoom sugli smartphone*/
    input[type="text"].dxeEditArea_Office365, input[type="password"].dxeEditArea_Office365 {
        font-size: 16px !important;
    }

    input[type='text'],
    input[type='number'],
    textarea {
        font-size: 16px; /*misura minima per evitare lo zoom in fase di scrittura*/
    }
}
/*Fine Sezione Responsive smartphone tablet */
.card .card-image {
    margin-top: 0px !important;
}

.dxeDisabled_Office365 .dxeToken_Office365 {
    background: rgba(157, 112, 198, 0.4);
    color: black;
}
/*!devexpress*/
.checkbox input[type=checkbox]:checked + .checkbox-material .check {
    background: var(--main-primary-hover-color);
}

.TitleCell {
    font-weight: bold !important;
    font-size: large !important;
    color: #bb2e2e !important;
}

.dxWeb_edtCheckBoxUnchecked_Office365 {
    background-color: #5c6666 !important;
}
/*pulsante add*/
.dxfabControl_Office365 .dx-fab-main-button {
    background-color: var(--main-primary-button-background-color) !important;
}

.dxcvControl_Office365 a {
    color: var(--main-primary-color) !important;
}


/*#5eb5ff*/
.navbar.navbar-Violet {
    background-color: var(--main-navbar-background-color) !important;
    color: #ffffff;
    /*border-bottom:solid 5px #5eb5ff;*/
    border-bottom: var(--main-navbar-border-bottom) !important;
}

.sidebar[data-active-color="purple"] li.active > a {
    background-color: var(--main-menu-active-background-color) !important;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(206, 206, 206, 0.33);
    margin-right: 0px !important;
}

.sidebar .nav li.active > a, .sidebar .nav li.active > a i {
    color: #808080;
}

.dxpLite_Office365 .dxp-current {
    background-color: #808080;
    color: #FFFFFF;
    text-decoration: none;
}

.login-page .card-login [data-background-color="purple"] {
    background: var(--main-Login-header-background-color) !important;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(142, 138, 130, 0.5) !important;
}

.card [data-background-color="purple"] {
    background: var(--main-card-header-background-color) !important;
    /*background: linear-gradient(60deg, #5c6666, #827e77) !important;*/
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(142, 138, 130, 0.5) !important;
}




.dxbButton_Office365 {
    color: var(--main-primary-button-color) !important;
    /*background-color: var(--main-primary-button-background-color) !important;*/
}
.dxbButton_Office365:hover {
        background-color: var(--main-primary-button-hover-background-color) !important;
}


.TitleCell {
    font-weight: bold !important;
    font-size: large !important;
    color: #000 !important;
}



.dxgvHeader_Office365 a, .dxgvHeader_Office365 a.dxgvCommandColumnItem_Office365, .dxgvHeader_Office365 a.dxgvCommandColumnItem_Office365.dxbDisabled_Office365, .dxgvCommandColumn_Office365 a, .dxgvCommandColumn_Office365 a.dxgvCommandColumnItem_Office365.dxbDisabled_Office365 {
    color: #000 ;
}

a {
    color: #000 ;
}


ul.dropdown-menu.dropdown-with-icons li a:hover {
    background-color: var(--main-dropdown-menu-hover-background-color) !important;
    color: var(--main-dropdown-menu-hover-color) !important;
}

.dxeDisabled_Office365 .dxeToken_Office365 {
    background: grey;
    color: white;
}

#ContentPlaceHolder1_btnLogin {
    background-color: var(--main-Login-button-background-color) !important;
}

.sidebar {
    background-color: var(--main-menu-background-color) !important;
}

@media (max-width: 991px) {
    .sidebar::before, .off-canvas-sidebar nav .navbar-collapse::before {
        background-color: var(--main-menu-background-color) !important;
    }
}

.navbar .dropdown-menu .active > a, .navbar.navbar-default .dropdown-menu .active > a {
    background-color: var(--main-dropdown-menu-active-background-color) !important;
    color: var(--main-dropdown-menu-active-color) !important;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 255, 255, 0.4);
}

.card [data-background-color="purple"] {
    background: var(--main-card-header-background-color) !important;
    /*background: linear-gradient(60deg, #5c6666, #827e77) !important;*/
    box-shadow: 0 4px 20px 0px rgba(3, 3, 3, 0.14), 0 7px 10px -5px rgba(0, 0, 0, 0.50) !important;
}

.sidebar .nav li.active > a, .sidebar .nav li.active > a i {
    color: var(--main-menu-active-color) !important;
}

.dxgvControl_Office365 .dxgvTable_Office365 .dxgvFocusedRow_Office365, .dxgvControl_Office365 .dxgvTable_Office365 .dxgvFocusedRow_Office365.dxgvDataRowHover_Office365 {
    background-color: var(--main-devx-row-active-background-color) !important;
    color: var(--main-devx-row-active-color) !important;
}
/*.sidebar .nav li > a:hover{

    background-color: var(--main-dropdown-menu-hover-background-color) !important;
    color: var(--main-dropdown-menu-hover-color) !important;
}*/
.form-control, .form-group .form-control {

    background-image: linear-gradient(var(--main-primary-hover-color), var(--main-primary-hover-color)), linear-gradient(#D2D2D2, #D2D2D2) !important;
}
.dxeFocused_Office365{
    border-color:var(--main-primary-hover-color) !important;
}
.sidebar .nav li:hover > a, .sidebar .nav li.active > [data-toggle="collapse"] {
    background-color:var(--main-primary-hover-color) !important;
}
.dxeToken_Office365 {
    background: var(--main-primary-color) !important;
    color: white !important;
}
label.control-label.dxbs-fl-cpt{
    color:var(--main-primary-color) !important;
}
.sidebar .logo a.logo-mini {
    margin-left: 10px !important;
    margin-right: 5px !important;
}


/*Rugby Milano Custom */

.dxflGroupBoxCaption_Office365 {
    color: var(--main-primary-color) !important;
    font-weight: 500 !important;
}

.form-group label.control-label {
   
   color: var(--main-primary-color) !important;
   font-weight: bold !important;
}
.dxcvCard_Office365, .dxcvBreakpointsCard_Office365, .dxcvFlowCard_Office365, .dxcvEmptyCard_Office365 {
  
    border: 0px !important;
}

/*DevExpress Custom GridView*/

.hide-grid-col {
    /*utile per nascondere una colonna */
    display: none !important;
    width: 0px !important;
}

/*modifiche stile menu*/
.sidebar .nav i {
    font-size: 18px !important;
}
.nav > li > a {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
    /*Fine modifiche stile menu*/

.btn.btn-sm, .btn-group-sm .btn, .navbar .navbar-nav > li > a.btn.btn-sm, .btn-group-sm .navbar .navbar-nav > li > a.btn {
    padding: 2px 6px !important;
    font-size: 11px;
}

.small, small {
    font-size: 75%;
}
.nav-tabs {
    background-color: var(--main-menu-active-background-color);
    border: 0;
    border-radius: 3px;
    padding: 0 15px;
}


/*Aggiunte Custom in data 16/12/2022*/


.right {
    text-align: right;
}

.center {
    text-align: center;
}

.margin-center {
    margin: 0 auto !important;
}

.normal {
    font-weight: 400;
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

.accent {
    color: var(--primary);
}

.medium {
    font-size: 16px !important;
}

.large {
    font-size: 20px !important;
}

.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.block {
    display: block !important;
}

.flex {
    display: flex;
}

.between {
    justify-content: space-between;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.vertically {
    align-items: center;
}

.two-column {
    display: grid !important;
    grid-template-columns: 75% 25%;
    gap: 12px;
}

.vertical {
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    margin: 0;
}

.monospace {
    font-family: Courier New, Courier, monospace !important;
}

.full-height {
    height: 100% !important;
}

.white {
    color: white !important;
}

.uppercase {
    text-transform: uppercase !important;
}

.dxeCaptionHALSys {
    padding: 0 !important;
}

.dx-caption, .dx-caption label, .dx-caption td {
    color: black !important;
    padding: 0px;
}

.dxflGroupBox_Office365{
    border-width:0px !important;
}
.dxmLite_Office365 .dxctToolbar_Office365.dxm-main.dxmtb 
{   
    padding-top: 5px;
    padding-bottom: 5px;    
}