<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="body">
      <header class="header">
        <div class="image-container">
          <img src="./immaggini/2-row.jpg" alt="" class="grande" />
          <img src="./immaggini/piccola_1.jpg" alt="" class="normale" />
          <img src="./immaggini/piccola_2.jpg" alt="" class="normale" />
        </div>
        <div class="contenitore-logo">
          <img src="./immaggini/logo.jpg" alt="" class="logo" />
          <img src="./immaggini/made-in-italy.jpg" alt="" class="made-in-italy" />
        </div>
      </header>
  
      <main>
        <h1 class="titolo">Sedia Altea</h1>
        <h2 class="sottotitolo">Descrizione Gruppo:</h2>
        <p class="testo">
          SEDIA IN PLASTICA GIARDINO CON BRACCIOLI - COLORE BIANCO - modello ALTEA
          Sedie monoblocco con braccioli, impilabile e con schienale medio
        
  
        <ul class="lista">
          <li>Alta 80 cm</li>
          <li>Larga 56 cm</li>
          <li>Profonda 54 cm</li>
          <li>KG 2.75</li>
          <li>
            Di facile manutenzione, ottima resistenza alle macchie, al freddo, al
            calore e ai raggi solari - in resina riciclabile
          </li>
        </ul>
  
        per uso privato o domestico
        </p>
      </main>
  
      <footer class="footer">
        <div>
          <h3 class="titolo-tabella">Codice</h3>
          <p class="tabella-item rosso maiuscolo">alt180bi</p>
          <p class="tabella-item rosso maiuscolo">alt180ve</p>
          <p class="tabella-item rosso maiuscolo">alt180an</p>
        </div>
        <div>
          <h3 id="descrizione" class="titolo-tabella">Descrizione</h3>
          <p class="tabella-item maiuscolo">sedia altea bianca</p>
          <p class="tabella-item maiuscolo">sedia altea verde</p>
          <p class="tabella-item maiuscolo">sedia altea antracite</p>
        </div>
        <div>
          <h3 class="titolo-tabella maiuscolo">um</h3>
        </div>
        <div>
          <h3 class="titolo-tabella maiuscolo">cf</h3>
        </div>
        <div>
          <h3 class="titolo-tabella">&euro;</h3>
          <p class="tabella-item rosso">&euro; 6.52</p>
          <p class="tabella-item rosso">&euro; 7.25</p>
          <p class="tabella-item rosso">&euro; 7.25</p>
        </div>
      </footer>
    </div>
  </body>
</html>
